.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  align-items: center;
  background: linear-gradient(#121212, #212b46);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login {
  border: solid 1px red;
  margin-bottom: 5px;
  margin-top: 5px;
}

.senha {
  border: solid 1px red;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button {
  background-color: transparent;
  border: solid 1px red;
  border-radius: 8px;
  color: whitesmoke;
  cursor: pointer;
  margin-top: 5px;
}

