* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background: linear-gradient(#121212, #212b46);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login {
  border: solid 1px red;
  margin-bottom: 5px;
  margin-top: 5px;
}

.senha {
  border: solid 1px red;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button {
  background-color: transparent;
  border: solid 1px red;
  border-radius: 8px;
  color: whitesmoke;
  cursor: pointer;
  margin-top: 5px;
}

.email {
  margin-left: 1050px;
}

body {
  background-color: #1b1e23;
  color: whitesmoke;
}

.wallet {
  background-color: #1b1e23;
}

.wallett {
  margin-left: 10px;
  margin-right: 10px;
}

select {
  margin-left: 7px;
}
